/* 自动生成自设计变量库 */
:root {
  /* --- _Primitives --- */
  --arken-arken-1: 235 241 255;
  --arken-arken-2: 209 220 255;
  --arken-arken-3: 168 188 255;
  --arken-arken-4: 125 155 255;
  --arken-arken-5: 98 130 255;
  --arken-arken-6: 77 106 255;
  --arken-arken-7: 61 84 219;
  --arken-arken-8: 46 65 183;
  --arken-arken-9: 32 47 148;
  --arken-arken-10: 20 32 112;
  --green-green-1: 234 254 225;
  --green-green-2: 210 251 180;
  --green-green-3: 182 245 134;
  --green-green-4: 150 238 87;
  --green-green-5: 124 218 59;
  --green-green-6: 100 188 37;
  --green-green-7: 76 158 25;
  --green-green-8: 54 128 15;
  --green-green-9: 35 98 8;
  --green-green-10: 20 68 3;
  --yellow-yellow-1: 255 251 230;
  --yellow-yellow-2: 255 241 184;
  --yellow-yellow-3: 255 229 143;
  --yellow-yellow-4: 255 214 102;
  --yellow-yellow-5: 255 197 51;
  --yellow-yellow-6: 255 191 0;
  --yellow-yellow-7: 217 163 0;
  --yellow-yellow-8: 179 134 0;
  --yellow-yellow-9: 140 105 0;
  --yellow-yellow-10: 102 77 0;
  --red-red-1: 255 242 243;
  --red-red-2: 255 209 213;
  --red-red-3: 255 166 175;
  --red-red-4: 255 122 136;
  --red-red-5: 255 88 106;
  --red-red-6: 255 58 75;
  --red-red-7: 219 37 58;
  --red-red-8: 183 21 43;
  --red-red-9: 148 9 30;
  --red-red-10: 112 2 19;
  --gray-neutral-gray-1: 249 250 251;
  --gray-neutral-gray-2: 243 244 246;
  --gray-neutral-gray-3: 229 231 235;
  --gray-neutral-gray-4: 210 214 219;
  --gray-neutral-gray-5: 157 164 174;
  --gray-neutral-gray-6: 108 115 127;
  --gray-neutral-gray-7: 77 87 97;
  --gray-neutral-gray-8: 56 66 80;
  --gray-neutral-gray-9: 17 25 39;
  --gray-neutral-gray-10: 13 18 28;
  --radius-none: 0px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --radius-full: 9999px;
  --skyblue-skyblue-1: 232 252 255;
  --skyblue-skyblue-2: 196 244 254;
  --skyblue-skyblue-3: 160 234 253;
  --skyblue-skyblue-4: 124 222 252;
  --skyblue-skyblue-5: 89 208 251;
  --skyblue-skyblue-6: 54 191 250;
  --skyblue-skyblue-7: 33 149 207;
  --skyblue-skyblue-8: 18 110 163;
  --skyblue-skyblue-9: 6 75 120;
  --skyblue-skyblue-10: 0 43 77;
  /* --- 1.Theme ✦ --- */
  --base-black: 0 0 0;
  --base-white: 255 255 255;
  --background-bg-slidebar: 247 249 255;
  /* --- 2.Radius --- */
  --radius-none: 0px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --radius-full: 9999px;
  /* --- 3.Spacing --- */
  --spacing-0: 0px;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  /* --- 4. Typography --- */
  --font size-10: 10;
  --font size-12: 12;
  --font size-13: 13;
  --line height-10: 18;
  --line height-12: 20;
  --line height-13: 21;
  --line height-14: 22;
  --line height-16: 24;
  --line height-18: 26;
  --line height-20: 28;
  --line height-24: 30;
  --line height-28: 36;
  --font size-14: 14;
  --font size-16: 16;
  --font size-18: 18;
  --font size-20: 20;
  --font size-24: 24;
  --font size-28: 28;
}
